
body {
	background-color :rgb(179, 224, 255);
}

.juice_disappear {
	display:none;
}

svg {
	background-color: rgb(179, 224, 255);
	padding :0px;
	margin:0px;

}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



@keyframes carmoving_horizontal {
	0% {transform :translateX(0px);}
	40% {transform : translateX(1100PX);}
}




#car {
  transform:translateX(0px);
  transform-origin:center center;  
  animation: carmoving_horizontal 5s forwards;
}


.secondsvg{
	background-color:rgb(179, 224, 255);
}


.secondsvg #mypath {
    stroke: rgb(179, 224, 255);
    stroke-width: .5;

    fill:url(#grad);
}

.color-transparent {
    stop-color:transparent;
   	stop-opacity:1
}

.color-purple {
    stop-color:#B05BE0;
    stop-opacity:1
}


#road01,#road02{
  transform :scale(0.22);
}

#road03,#road04{
	transform:scale(.22);
}


#people {
	display:none;
	position:absolute;
	height:500px;
	width:500px;
	background-color: yellow;
	bottom:-200px;
	left:28%;
	height:500px;
	z-index:11;
}
@keyframes woman_up {
	from { transform :translate(0); }
	to{ transform:translate(0px,-200px); }
}
#people.active {
	display:block;
	animation: woman_up 10s forwards;
}


@keyframes fade_in {
	from { 
		opacity:0;
		visibility:hidden;
	 }
	to {
		opacity:1;
		visibility:visible;
	}
}

@keyframes glass_appear {
	from {
		transform :scale(0.01) ;
		opacity:0;
		visibility:hidden;
	}
	to {
		transform:scale(1.2) ;
		opacity:1;
		visibility:visible;
	}
}

#glass00, #glass01,#glass02,#glass03,#glass04,#glass05,#glass06,#glass07,#glass08,#glass09{
		opacity:0;
		visibility:hidden;
}

#glass00.appear{
    opacity:1;
	visibility:visible;
	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  }

#glass01.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  }


#glass02.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  }

 #glass03.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  }

 #glass04.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s   cubic-bezier(.17,.89,.32,2.5) forwards;
  }

  #glass05.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  } 

  #glass06.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  }

  #glass07.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s   cubic-bezier(.17,.89,.32,2.5) forwards;
  }

  #glass08.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s  cubic-bezier(.17,.89,.32,2.5) forwards;
  }

  #glass09.appear{

	transform-origin:center center;
  	animation:glass_appear 0.25s cubic-bezier(.17,.89,.32,2.5) forwards;
  }
